.hero-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 32px;
    background: linear-gradient(0deg, rgba(250,250,250,1) 0%, $background-color 100%);
    .hero-left{
        width: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        .hero-left-text{
                font-weight: bolder;
                color:$brown-text;
            .hi-btn{
                padding: 12px 24px;
                border-radius: 10px;
                border: transparent;
                background-color: $pink-orange;
                font-size: 24px;
                margin-bottom: 24px;
                a{
                    color: $brown-text;
                }
            }
            h2{
                margin-bottom: 14px;
                font-size: 50px;
            }
        }
        .hero-bottom-btn{
            .about-btn{
                padding: 24px 40px;
                border-radius: 16px;
                background-color: $dark-orange;
                border: transparent;
                margin-right: 16px;
                a{
                    color: #fff;
                }
            }
            .contact-btn{
                padding: 20px 40px;
                border-radius: 16px;
                border: 4px solid $grey-text;
                a{
                    color: $grey-text;
                }
            }
        }
    }
    .hero-right{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .hero-right-btn{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            row-gap: 133px;
            position: absolute;
            z-index: 9;
            right: 35px;
            .tech{
                a{
                    color: $tech-design;
                }
                font-size: 24px;
                padding: 16px 24px;
                border-radius: 16px;
                background-color: #fff;
                border: transparent;
            }
            .design{
                a{
                    color: $tech-design;
                }
                font-size: 24px;
                padding: 16px 24px;
                border-radius: 16px;
                background-color: #fff;
                border: transparent;
            }
        }
        .hero-right-pic{
            background-image: url(..//images/hero-img.webp);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: top center;
            overflow: hidden;
            height: 100%;
            width: 80%;
                position: absolute; 
                z-index: 5;
                border-radius: 50%;
                border: 4px solid $light-orange;
                background-color: $light-orange;
                filter: drop-shadow(8px 8px 10px black);
        }
    }
}

@media (max-width:1420px){
    .hero-section{
        .hero-left{
            .hero-left-text{
                h2{
                    font-size: 40px;
                }
            }
        }
        .hero-right{
            .hero-right-pic{
                background-image: url(..//images/hero-img.webp);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: top center;
                overflow: hidden;
                height: 100%;
                width: 100%;
                    position: absolute; 
                    z-index: 5;
                    border-radius: 50%;
                    border: 4px solid $light-orange;
                    background-color: $light-orange;
                    filter: drop-shadow(8px 8px 10px black);
            }
        }
    }
}
@media (max-width:1200px){
    .hero-section{
        .hero-left{
            .hero-left-text{
                h2{
                    font-size: 40px;
                }
            }
            .hero-bottom-btn{
                .text{
                    font-size: 20px;
                }
                .about-btn{
                    padding: 14px 30px;
                }
                .contact-btn{
                    padding: 10px 30px;
                }
            }
        }
        .hero-right{
            .hero-right-btn{
            right: 30px;
            .tech{
                font-size: 20px;
                padding: 10px 18px;
            }
            .design{
                font-size: 20px;
                padding: 10px 18px;
            }
            }
    }}
}
@media (max-width:1072px){
    .hero-section{
        .hero-left{
            .hero-left-text{
                .hi-btn{
                    padding: 10px 22px;
                    font-size: 20px;
                    margin-bottom: 20px;
                    a{
                        color: $brown-text;
                    }
                }
            }
            .hero-bottom-btn{
                .text{
                    font-size: 16px;
                }
                .about-btn{
                    padding: 10px 26px;
                }
                .contact-btn{
                    padding: 6px 26px;
                }
            }
        }
        .hero-right{
            .hero-right-btn{
            right: 30px;
            row-gap: 50px;

            .tech{
                font-size: 16px;
                padding: 10px 18px;
            }
            .design{
                font-size: 16px;
                padding: 10px 18px;
            }
            }
    }}
}

@media (max-width:927px){
    .hero-section{
    width:fit-content;
    height: 800px;;
    display: flex;
    justify-content: center;
    padding: 32px;
        flex-wrap: wrap;
        .hero-left{
            height: 50%;
            width: 100%;
            .hero-left-text{
                .hi-btn{
                    padding: 10px 22px;
                    font-size: 20px;
                    margin-bottom: 20px;
                    a{
                        color: $brown-text;
                    }
                }
                // h2{
                //     font-size: medium;
                // }
            }
            .hero-bottom-btn{
                .text{
                    font-size: 16px;
                }
                .about-btn{
                    padding: 10px 26px;
                }
                .contact-btn{
                    padding: 6px 26px;
                }
            }
        }
        .hero-right{
            width: 50%;
            height: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            .hero-right-btn{
            right: 15px;
            row-gap: 50px;

            .tech{
                font-size: 16px;
                padding: 10px 18px;
            }
            .design{
                font-size: 16px;
                padding: 10px 18px;
            }
            }
            .hero-right-pic{
                background-image: url(..//images/hero-img.webp);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: top center;
                overflow: hidden;
                height: 100%;
                width: 100%;
                    position: absolute; 
                    z-index: 5;
                    border-radius: 50%;
                    border: 4px solid $light-orange;
                    background-color: $light-orange;
                    filter: drop-shadow(8px 8px 10px black);
            }
    }}
    
}
@media (max-width:795px){
    .hero-section{
    margin-top: -40px;

    width:fit-content;
    height: 700px;;
    display: flex;
    justify-content: center;
    padding: 32px;
        flex-wrap: wrap;
        .hero-left{
            .hero-left-text{
                h2{
                    font-size:35px;
                }
            }
        }}
    
}
@media (max-width:691px){
    .hero-section{
    width:fit-content;
    height: 600px;
    display: flex;
    justify-content: center;
    padding: 32px;
        flex-wrap: wrap;
        .hero-left{
            margin-bottom: 15px;
            height: 50%;
            width: 100%;
            .hero-left-text{
                .hi-btn{
                    padding: 10px 22px;
                    font-size: 20px;
                    margin-bottom: 20px;
                    a{
                        color: $brown-text;
                    }
                }
                h2{
                    font-size:35px;
                }
            }
            .hero-bottom-btn{
                .text{
                    font-size: 16px;
                }
                .about-btn{
                    padding: 10px 26px;
                }
                .contact-btn{
                    padding: 6px 26px;
                }
            }
        }
        .hero-right{
            width: 50%;
            height: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            .hero-right-btn{
            right: 15px;
            row-gap: 50px;

            .tech{
                font-size: 14px;
                padding: 5px 13px;
            }
            .design{
                font-size: 14px;
                padding: 5px 13px;
            }
            }
            .hero-right-pic{
                background-image: url(..//images/hero-img.webp);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: top center;
                overflow: hidden;
                height: 100%;
                width: 100%;
                    position: absolute; 
                    z-index: 5;
                    border-radius: 50%;
                    border: 4px solid $light-orange;
                    background-color: $light-orange;
                    filter: drop-shadow(8px 8px 10px black);
            }
    }}
    
}
@media (max-width:631px){
    .hero-section{
    width:fit-content;
    height: 550px;
    display: flex;
    justify-content: center;
    padding: 32px;
        flex-wrap: wrap;
        .hero-left{
            margin-bottom: 15px;
            height: 50%;
            width: 100%;
            .hero-left-text{
                .hi-btn{
                    padding: 10px 22px;
                    font-size: 20px;
                    margin-bottom: 20px;
                    a{
                        color: $brown-text;
                    }
                }
                h2{
                    font-size:30px;
                }
            }
            .hero-bottom-btn{
                .text{
                    font-size: 16px;
                }
                .about-btn{
                    padding: 10px 26px;
                }
                .contact-btn{
                    padding: 6px 26px;
                }
            }
        }
        .hero-right{
            width: 50%;
            height: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            .hero-right-btn{
            right: 15px;
            row-gap: 50px;

            .tech{
                font-size: 14px;
                padding: 5px 13px;
            }
            .design{
                font-size: 14px;
                padding: 5px 13px;
            }
            }
            .hero-right-pic{
                background-image: url(..//images/hero-img.webp);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: top center;
                overflow: hidden;
                height: 100%;
                width: 100%;
                    position: absolute; 
                    z-index: 5;
                    border-radius: 50%;
                    border: 4px solid $light-orange;
                    background-color: $light-orange;
                    filter: drop-shadow(8px 8px 10px black);
            }
    }}
    
}
@media (max-width:550px){
    .hero-section{
    width:fit-content;
    height: 500px;
    display: flex;
    justify-content: center;
    padding: 32px;
        flex-wrap: wrap;
        .hero-left{
            margin-bottom: 15px;
            height: 50%;
            width: 100%;
            .hero-left-text{
                .hi-btn{
                    padding: 5px 17px;
                    font-size: 16px;
                    margin-bottom: 20px;
                    a{
                        color: $brown-text;
                    }
                }
                h2{
                    font-size:24px;
                }
            }
            .hero-bottom-btn{
                .text{
                    font-size: 16px;
                }
                .about-btn{
                    padding: 5px 20px;
                }
                .contact-btn{
                    padding: 3px 20px;
                }
            }
        }
        .hero-right{
            width: 50%;
            height: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            .hero-right-btn{
            right: 15px;
            row-gap: 50px;

            .tech{
                font-size: 14px;
                padding: 5px 13px;
            }
            .design{
                font-size: 14px;
                padding: 5px 13px;
            }
            }
            .hero-right-pic{
                background-image: url(..//images/hero-img.webp);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: top center;
                overflow: hidden;
                height: 100%;
                width: 100%;
                    position: absolute; 
                    z-index: 5;
                    border-radius: 50%;
                    border: 4px solid $light-orange;
                    background-color: $light-orange;
                    filter: drop-shadow(8px 8px 10px black);
            }
    }}
    
}
@media (max-width:500px){
    .hero-section{
    width:fit-content;
    height: 450px;
    display: flex;
    justify-content: center;
    padding: 32px;
        flex-wrap: wrap;
        .hero-left{
            margin-bottom: 15px;
            height: 60%;
            width: 100%;
            .hero-left-text{
                .hi-btn{
                    padding: 5px 17px;
                    font-size: 16px;
                    margin-bottom: 20px;
                    a{
                        color: $brown-text;
                    }
                }
                h2{
                    font-size:24px;
                }
            }
            .hero-bottom-btn{
                .text{
                    font-size: 16px;
                }
                .about-btn{
                    padding: 5px 20px;
                }
                .contact-btn{
                    padding: 3px 20px;
                }
            }
        }
        .hero-right{
            width: 50%;
            height: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
            .hero-right-btn{
            right: -15px;
            row-gap: 50px;

            .tech{
                font-size: 14px;
                padding: 5px 13px;
            }
            .design{
                font-size: 14px;
                padding: 5px 13px;
            }
            }
            .hero-right-pic{
                background-image: url(..//images/hero-img.webp);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: top center;
                overflow: hidden;
                height: 100%;
                width: 100%;
                    position: absolute; 
                    z-index: 5;
                    border-radius: 50%;
                    border: 4px solid $light-orange;
                    background-color: $light-orange;
                    filter: drop-shadow(8px 8px 10px black);
            }
    }}
    
}
@media (max-width:375px){
    .hero-section{
        width:fit-content;
        height: 375px;
        display: flex;
        justify-content: center;
        padding: 32px;
            flex-wrap: wrap;
            .hero-left{
                margin-bottom: 15px;
                height: 60%;
                width: 100%;
                .hero-left-text{
                    .hi-btn{
                        padding: 3px 15px;
                        font-size: 14px;
                        margin-bottom: 15px;
                        a{
                            color: $brown-text;
                        }
                    }
                    h2{
                        font-size:20px;
                    }
                }
                .hero-bottom-btn{
                    .text{
                        font-size: 14px;
                    }
                    .about-btn{
                        padding: 3px 17px;
                    }
                    .contact-btn{
                        padding: 1px 17px;
                    }
                }
            }
            .hero-right{
                width: 50%;
                height: 40%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
    
                .hero-right-btn{
                right: -30px;
                row-gap: 50px;
    
                .tech{
                    font-size: 14px;
                    padding: 5px 13px;
                }
                .design{
                    font-size: 14px;
                    padding: 5px 13px;
                }
                }
                .hero-right-pic{
                    background-image: url(..//images/hero-img.webp);
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: top center;
                    overflow: hidden;
                    height: 100%;
                    width: 100%;
                        position: absolute; 
                        z-index: 5;
                        border-radius: 50%;
                        border: 4px solid $light-orange;
                        background-color: $light-orange;
                        filter: drop-shadow(8px 8px 10px black);
                }
        }}
    
}
@media (max-width:316px){
    .hero-section{
    width:fit-content;
    height: 316px;
    display: flex;
    justify-content: center;
    padding: 15px;
        flex-wrap: wrap;
        .hero-left{
            margin-bottom: 15px;
            height: 60%;
            width: 100%;
            .hero-left-text{
                .hi-btn{
                    padding: 2px 11px;
                    font-size: 11px;
                    margin-bottom: 10px;
                    a{
                        color: $brown-text;
                    }
                }
                h2{
                    font-size:14px;
                }
            }
            .hero-bottom-btn{
                .text{
                    font-size: 11px;
                }
                .about-btn{
                    padding: 2px 13px;
                }
                .contact-btn{
                    padding: 0px 13px;
                    border-width: 2px;
                }
            }
        }
        .hero-right{
            width: 50%;
            height: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            .hero-right-btn{
            right: -30px;
            row-gap: 50px;

            .tech{
                font-size: 11px;
                padding: 3px 9px;
            }
            .design{
                font-size: 11px;
                padding: 3px 9px;
            }
            }
            .hero-right-pic{
                background-image: url(..//images/hero-img.webp);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: top center;
                overflow: hidden;
                height: 100%;
                width: 100%;
                    position: absolute; 
                    z-index: 5;
                    border-radius: 50%;
                    border: 4px solid $light-orange;
                    background-color: $light-orange;
                    filter: drop-shadow(8px 8px 10px black);
            }
    }}
    
}
