
$dark-orange: #FCA61F;
$light-orange:#F2C94C;
$pink-orange: #FFDDBF;
$background-color: #FFF2C5;
$primary-text: #232323;
$brown-text: #403930;
$grey-text: #4D5566;
$tech-design: #5d87a8;
$head: #2B2C34;